#add for board init.rc for recovery mode
import /init.recovery.common.rc

on fs
    insmod /lib/modules/adaptive-ts.ko
    insmod /lib/modules/chipone_icnl99xx.ko
    insmod /lib/modules/thermal-generic-adc.ko

on boot
    start boot-hal-1-0
    start health-hal-2-1